PORT=3000

# MongoDB Connection (GET THIS FROM MONGODB ATLAS)
# Format: mongodb+srv://username:password@cluster.xxxxx.mongodb.net/database
MONGODB_URI=mongodb+srv://canyou_admin:YOUR_PASSWORD@canyou-cluster.xxxxx.mongodb.net/canyou?retryWrites=true&w=majority

# Optional
ODYSEE_CLAIM_ID=@DainikState:1
YOUTUBE_CHANNEL_ID=UCIvx776Jt6gejhpiJ563VCQ
